<%= simple_form_for @question, url: '/question/create', as: 'user_basic' do |f| %>
  <%= f.error_notification %>

  <h3><strong>Title</strong></h3>
  <%= f.input :title, label: false %>

  <h3><strong>Will the Minister of</strong></h3>
  <%= f.input :ministry, label: false, collection: Question::MINISTRIES %> 

  <h3><strong> be pleased to state:</strong></h3>
  <%= f.input :text, label: false, :input_html => {:rows => 5}%>

  <div id="add">
    <p> Add Question <p>
  </div>
  <%= f.button :submit, 'Submit' %>
</br>
</br>
</br>
<% end %>