<%= simple_form_for @question, url: '/questions/create', as: 'user_basic' do |f| %>
  <%= f.error_notification %>

  <p> Will the Minister of <%= f.input :ministry, collection: Question.ministries %> </p>

  <p> be pleased to state:   
    <%= f.input :text, label: 'Question', placeholder: 'What is your question?', :input_html => {:rows => 5}%>
  </p>

  <div id="add">
    <p> Add Question <p>
  </div>
  </br>
  </br>
  </br>
  <%= f.button :submit, 'Submit' %>
<% end %>