<%= simple_form_for @question, url: '/questions/create' do |f| %>
  <%= f.error_notification %>

  <h3><strong>Personal Information</strong></h3>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :email, label: 'Email Address', placeholder: 'user@domain.com' %>
  <%= f.input :district, label: 'District' %>
  <%= f.input :state, label: 'State', collection: Question::STATES %>

  <%= f.button :submit, 'Next' %>
</br>
</br>
</br>
<% end %>