<body>
	<div class="text-center">
		<h1 id="title">Lok Sabha Question Hour</h1>
		<div id="description">One line description here. 
		</div>
		<br>
		<div id="count"><%= Question.count %> people have questions.
		</div>
		<a role="button" href="#question-form" id="form-button" class="btn btn-default btn-lg">
	  	<span id="asktext">Ask a Question</span>
	  </a>
	</div>

	<!-- popup form -->
	<%= simple_form_for @question, url: '/questions/create', :html=> { id: 'question-form', class: 'demo-form mfp-hide white-popup-block' } do |f| %>

		<div class="form-section">
			<h2 class="form-header">Ask a question</h2>
			<div class="form-subtext">Submit a question to be asked by your Member of Parliament.</div>

		  <h5 class="form-subheader">Title</h5>
		  <%= f.input :title,
		  	label: false,
		  	placeholder: 'What is your question about?',
		  	input_html: {
		  								"data-toggle" => "popover",
		  								"data-placement" => "right",
		  								"data-content" => "<img class='popover-image' src='/assets/title-popover.jpg'>"
		  							},
		  	class: 'form-control',
		  	required: ''
		  %>

		  <h5 class="form-subheader">Will the Minister of</h5>
		  <%= f.input :ministry,
		  	prompt: 'Which minister are you addressing?',
		  	label: false,
		  	collection: Question::MINISTRIES,
		  	input_html: {
		  								"data-toggle" => "popover",
		  								"data-placement" => "right",
		  								"data-content" => "<img class='popover-image' src='/assets/minister-popover.jpg'>"
		  							},
		  	class: 'form-control',
		  	required: ''
		  %> 

		  <h5 class="form-subheader"> be pleased to state:</h5>
		  <%= f.input :text,
		  	label: false,
		  	placeholder: 'What are your questions?',
		  	input_html: {
		  								rows: 8,
											"data-toggle" => "popover",
											"data-placement" => "right",
											"data-content" => "<img class='popover-image' src='/assets/question-popover.jpg'>"
										},
		  	class: 'form-control',
		  	required: ''
		  %>

	  </div>

	  <div class="form-section">
		  <h2 class="form-header">Personal Info</h2>
		  <div class="form-subtext">
		  	Provide a valid email address to directly receive updates on your question.<br>The other fields are <strong>optional</strong> and for data collection purposes only.
		  </div>

		  <%= f.input :email, label: 'Email ID', placeholder: 'user@domain.com', class: 'form-control' %>
		  <%= f.input :name, label: 'Name', class: 'form-control' %>
		  <%= f.input :city, label: 'City', class: 'form-control' %>
		  <%= f.input :district, label: 'District', class: 'form-control' %>
		  <%= f.input :state, label: 'State', collection: Question::STATES, class: 'form-control' %>
		</div>

		<div class="form-section">
			<h2 class="form-header">Confirm your submission</h2>
			<div class="form-subtext">
				This is how your question submission will appear.
			</div>

			<div class="confirmation-text">
				<div class="confirmation-title-wrapper"><p><strong><span class="confirmation" id="confirmation-title"></span></strong></p></div>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;Will the Minister of <span class="confirmation" id="confirmation-ministry"></span></p>
				<p>be pleased to state:</p>
				<p><span class="confirmation" id="confirmation-question"></span></p>
			</div>
		</div>

	  <div class="form-navigation">
	    <button type="button" class="previous btn btn-info pull-left">&lt; Previous</button>
	    <button type="button" class="next btn btn-info pull-right">Next &gt;</button>
	    <%= f.button :submit, 'Submit Question', class: 'btn btn-default pull-right' %>
	    <span class="clearfix"></span>
	  </div>
	<% end %>

</body>